body,
html {
  margin: 0;
  margin-top: 80px;
  padding: 0;
  font-family: "Alegreya Sans SC", sans-serif;
}

.iframeNav {
  top: 0;
  position: fixed;
  z-index: 100;
}

::-webkit-scrollbar {
  width: 7px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de fondo de la pista */
}

::-webkit-scrollbar-thumb {
  background-color: #5080cb; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 0px; /* Bordes redondeados del pulgar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5080cb; /* Color del pulgar al pasar el ratón por encima */
}
